// Components
// ----------

// Global
// --------------------------------------------------------
:root {
  --space: 5.625vw;

  @include respond($malawi) {
    --space: 3.938rem;
  }
}

.container {
  max-width: rem($michigan);
  padding: 0 5.625vw;
  margin: 0 auto;

  @supports (--something: 1em) {
    padding: 0 var(--space);
  }
}

// Page header
// --------------------------
.page-header {
  padding: rem(48) 0 rem(56);

  &:after {
    content: "";
    display: block;
    // width: 100%;
    border-top: rem(2) solid transparentize($grayDark, 0.92);
    // (100% - 61.8%) / 2
    margin: rem(48) 19.1% 0;
  }

  @include respond($vostok) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:after {
      width: 100%;
    }
  }

  @include respond($ladoga) {
    padding-bottom: rem(68);
  }

  @include respond($ontario) {
    padding: rem(56) 0 rem(76);

    &:after {
      margin-top: rem(56);
    }
  }
}

.page-header--heading {
  font-family: $fontSans;
  font-size: rem(38);
  line-height: 1.263;
  letter-spacing: ls(20);
  text-align: center;
  margin-bottom: rem(8);
}

  // TODO hover styles
.page-header--nav {
  @include nav;
  @include sans;
}

// Page footer
// --------------------------
.page-footer {
  @include sans;
  // @include full-bleed(transparentize($grayDark, 0.96), down);
  color: transparentize($grayDark, 0.4);
  padding-bottom: rem(38);

  &:before {
    content: "";
    display: block;
    border-top: rem(2) solid transparentize($grayDark, 0.92);
    // (100% - 61.8%) / 2
    margin: 0 19.1% rem(36);
  }

  p {
    text-align: center;
    margin-bottom: rem(6);
  }

  @include respond($vostok) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:before {
      width: 100%;
    }

    p {
      text-align: left;
      margin-bottom: 0;
    }
  }

  @include respond($ontario) {
    padding-bottom: rem(46);

    &:before {
      margin-bottom: rem(44);
    }
  }
}

.page-footer--nav {
  @include nav;
}

// Page content
// --------------------------------------------------------
.page-content {

}

// Crux
// --------------------------
.crux {
  margin-bottom: rem(62);

  @include respond($ladoga) {
    display: flex;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 31%;
      grid-column-gap: rem(36);
      grid-column-gap: var(--space);
    }
  }

  @include respond($baikal) {
    @supports (display: grid) {
      grid-column-gap: calc(var(--space) / 0.618);
    }
  }

  @include respond($balkhash) {
    @supports (display: grid) {
      grid-template-columns: 1fr 34%;
    }
  }

  @include respond($ontario) {
    margin-bottom: rem(74);
  }
}

.crux--text {

}

.crux--images {
  img {
    display: block;
    width: 100%;
  }

  img + img {
    padding-top: rem(36 / 1.618);

    @supports (--something: 1em) {
      padding-top: var(--space);
    } 

    @include respond($ladoga) {
      @supports (--something: 1em) {
        padding-top: calc(var(--space) / 1.618);
      }     
    }

    @include respond($ontario) {
      padding-top: rem(32);
    }
  }
}

// Lectern
// --------------------------
.lectern {

}

.lectern--item {

}

.lectern--heading {

}

.lectern--text {

}

// Contexts
// --------------------------
.copy {
  // text-align: justify;
  hyphens: auto;

  a {
    @include link;
    color: $green;
  }
}

.garland {
  ul {

  }
}
