// Components
// ----------

// Global
// --------------------------------------------------------
:root {
  --space: 5.625vw;

  @include respond($malawi) {
    --space: 3.938rem;
  }
}

.container {
  max-width: rem($michigan);
  padding: 0 5.625vw;
  margin: 0 auto;

  @supports (--something: 1em) {
    padding: 0 var(--space);
  }
}

// Page header
// --------------------------
.page-header {
  padding: rem(48) 0 rem(56);

  &:after {
    content: "";
    display: block;
    // width: 100%;
    border-top: rem(2) solid transparentize($grayDark, 0.92);
    // (100% - 61.8%) / 2
    margin: rem(48) 19.1% 0;
  }

  @include respond($vostok) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:after {
      width: 100%;
    }
  }

  @include respond($ladoga) {
    padding-bottom: rem(68);
  }

  @include respond($ontario) {
    padding: rem(56) 0 rem(76);

    &:after {
      margin-top: rem(56);
    }
  }
}

.page-header--heading {
  font-family: $fontSans;
  font-size: rem(38);
  font-weight: 600;
  line-height: $lessLineHeight;
  letter-spacing: ls(20);
  text-align: center;
  margin-bottom: rem(8);
}

  // TODO hover styles
.page-header--nav {
  @include nav;
  @include sans;
}

// Page footer
// --------------------------
.page-footer {
  @include sans;
  color: transparentize($grayDark, 0.4);
  padding-bottom: rem(38);

  &:before {
    content: "";
    display: block;
    border-top: rem(2) solid transparentize($grayDark, 0.92);
    // (100% - 61.8%) / 2
    margin: 0 19.1% rem(36);
  }

  p {
    text-align: center;
    margin-bottom: rem(6);
  }

  @include respond($vostok) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:before {
      width: 100%;
    }

    p {
      text-align: left;
      margin-bottom: 0;
    }
  }

  @include respond($ontario) {
    padding-bottom: rem(46);

    &:before {
      margin-bottom: rem(44);
    }
  }
}

.page-footer--nav {
  @include nav;
}

// Page content
// --------------------------------------------------------
.page-content {
  margin-bottom: rem(62);

  @include respond($ontario) {
    margin-bottom: rem(74);
  }
}

// Crux
// --------------------------
.crux {
  @include respond($ladoga) {
    display: flex;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 31%;
      grid-column-gap: var(--space);
    }
  }

  @include respond($baikal) {
    @supports (display: grid) {
      grid-column-gap: calc(var(--space) / 0.618);
    }
  }

  @include respond($balkhash) {
    @supports (display: grid) {
      grid-template-columns: 1fr 34%;
    }
  }
}

.crux--images {
  margin-bottom: $verticalSpace;

  img {
    display: block;
    width: 100%;
  }

  img + img {
    padding-top: rem(36 / 1.618);

    @supports (--something: 1em) {
      padding-top: var(--space);
    } 

    @include respond($ladoga) {
      @supports (--something: 1em) {
        padding-top: calc(var(--space) / 1.618);
      }     
    }

    @include respond($ontario) {
      padding-top: rem(32);
    }
  }
}

.crux--footer {
  grid-column-start: span 2;
  text-align: center;
  padding-top: rem(28);
  
  a {
    @include sans;
  }
}

// Lectern
// --------------------------
// ul
.lectern {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;

  @include respond($erie) {
    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--space);
      grid-row-gap: var(--space);
    }
  }
}

// li
.lectern--item {
  @include block(556);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: rem(44);

  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
      img {
        opacity: 0.92;
        box-shadow: 0 0 0 rem(8) transparentize($green, 0.8);
      }
    }
  }

  img {
    display: block;
    width: auto;
    height: rem(400);
    margin-bottom: 1.25em;
    box-shadow: 0 0 0 rem(8) transparent;
    transition:
      box-shadow ($duration * 2) $timing,
      opacity ($duration * 2) $timing
    ;
  }

  @include respond($onega) {
    margin-bottom: rem(62);

    img {
      height: rem(488);
    }
  }

  @include respond($erie) {
    @supports (display: grid) {
      max-width: none;
      margin: 0;
    }
  }
}

.lectern--heading {
  @include subhead(0.2em);
  padding: 0 0.618em;
}

.lectern--text {
  @include sans;
  color: $green;
  margin-bottom: 0;
}

// Form
// --------------------------
.form {
  label {
    @include sans;
    display: block;
    color: transparentize($grayDark, 0.4);
    margin-bottom: 0.25em;
  }

  input,
  textarea {
    display: block;
    width: 100%;
    background-color: transparentize($grayDark, 0.95);
    padding: 0 0.5em;
    border: none;

    &:focus {
      background-color: transparentize($green, 0.86);
    }
  }

  input {
    height: $verticalSpace;
  }

  textarea {
    height: rem(154);
    padding-top: rem(5);
    padding-bottom: rem(5);
    resize: none;
  }

  @include respond($onega) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
  }

  @include respond($ladoga) {
    display: block;
  }

  @include respond($malawi) {
    display: grid;
  }
}

.form--half {
  margin-bottom: 1em;
}

.form--full {
  grid-column-start: span 2;
  margin-bottom: 1em;
}

.form--button {
  @include link(0.1);
  @include sans;
  text-align: left;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

// Contexts
// --------------------------
.copy {
  // text-align: justify;
  // hyphens: auto;

  h2 {
    @include subhead;
  }

  a,
  button {
    @include link;
    color: $green;
  }
}

.garland {
  ul {
    list-style-type: none;
    padding-left: 0;;
  }

  li + li {
    margin-top: 0.382em;
  }

  h3 {
    font-size: 1em;
    font-family: $fontSans;
    font-weight: 600;
    letter-spacing: ls(10);
  }
}
