// Project specific mixins
// -----------------------

// Text
// --------------------------
@mixin sans($size: 1.188rem) {
  font-family: $fontSans;
  letter-spacing: ls(10);
  line-height: 1.316;

  @include respond($vostok) {
    font-size: $size;
  }
}

@mixin link($transparentize: 0) {
  box-shadow: 0 rem(-2) 0 0 transparent inset;
  transition: color $duration $timing, box-shadow $duration $timing;

  &.active,
  &:hover {
    color: transparentize($green, $transparentize);
    box-shadow: 0 rem(-2) 0 0 transparentize($green, 0.7) inset;
  }

  &:focus {
    outline-color: $green;
  }
}

@mixin subhead {
  @include sans(1.188rem);
  // font-size: rem(19);
  font-weight: 600;
  line-height: $lessLineHeight;
  margin-bottom: 1em;

  @include respond($onega) {
    font-size: rem(22);
  }

  @include respond($vostok) {
    font-size: rem(24);
  }
}

// Nav
// --------------------------
@mixin nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    @include link(0.1);
    color: transparentize($grayDark, 0.4);
    margin: 0 0.5em;
  }

  @include respond($vostok) {
    a {
      margin: 0;
    }

    a + a {
      margin-left: 1em;
    } 
  }
}
