// Variables
//----------

// Colors
// --------------------------------------------------------
$teal: #49a3a4;

// Typography
// --------------------------------------------------------
$emBase: 18;

$fontHead: helvetica, sans-serif;
$fontBody: georgia, serif;

// Measurements
// --------------------------------------------------------
// $containerWidth: ∞;

$baseLineHeight: 1.667;
$verticalSpace: ($baseLineHeight * 1em);
$lineThickness: 1;

$duration: 0.06s;
$timing: ease;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
// $superior: ;
// $victoria: ;
// $huron: ;
// $michigan: ;
// $baikal: ;
// $malawi: ;
// $erie: ;
// $winnipeg: ;
// $ontario: ;
// $balkhash: ;
// $ladoga: ;
// $vostok: ;
// $onega: ;
