// Variables
//----------

// Colors
// --------------------------------------------------------
$offWhite: #fffaeb;
$grayDark: #181817;

$teal: #49a3a4;
$green: #60a649;

// Typography
// --------------------------------------------------------
$baseSize: 1.125em;

$fontSerif: 'cardo', serif;
$fontSans: 'gill sans', 'palanquin', sans-serif;

// Measurements
// --------------------------------------------------------
// $containerWidth: ∞;

$baseLineHeight: 1.714;
$lessLineHeight: 1.263;
$verticalSpace: ($baseLineHeight * 1em);

$duration: 0.06s;
$timing: ease;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
$michigan: 1300;
$baikal: 1260;
$malawi: 1120;
$erie: 1040;
$ontario: 920;
$balkhash: 840;
$ladoga: 760;
$vostok: 660;
$onega: 520;
