// Variables
//----------

// Colors
// --------------------------------------------------------
$offWhite: #fffdfa;
$grayDark: #181817;

$teal: #49a3a4;

// Typography
// --------------------------------------------------------
// $fontSerif: 'Cardo', serif;
// $fontSerif: 'Libre Baskerville', serif;
$fontSerif: 'Source Serif Pro', serif;

// $fontSans: 'Amiko', sans-serif;
$fontSans: 'Fira Sans', sans-serif;
// $fontSans: 'Source Sans Pro', sans-serif;

// Measurements
// --------------------------------------------------------
// $containerWidth: ∞;

$baseLineHeight: 1.667;
$verticalSpace: ($baseLineHeight * 1em);
$lineThickness: 1;

$duration: 0.06s;
$timing: ease;

// Responsive breakpoints
// https://en.wikipedia.org/wiki/List_of_lakes_by_area
// --------------------------------------------------------
$superior: 1300;
// $victoria: ;
// $huron: ;
// $michigan: ;
// $baikal: ;
// $malawi: ;
// $erie: ;
// $winnipeg: ;
// $ontario: ;
// $balkhash: ;
$ladoga: 840;
$vostok: 660;
$onega: 520;
