<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="The personal website of {{ site.author.name }}">
  <meta name="author" content="{{ site.author.name }}">
  <meta content="{{ site.title }}" property="og:site_name">
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% if page.title %}<meta content="{{ page.title }}" property="og:title">{% endif %}
  <meta content="website" property="og:type">
  <link rel="stylesheet" href="/resources/css/styles.css">
</head>
<body>
  <div class="container">
    <header class="page-header">
      {% capture branch %}{{ page.url }}{% endcapture %}
      <h1 class="page-header--heading">{% if page.heading %}{{ page.heading }}{% else %}{{ site.title }}{% endif %}</h1>
      <nav class="page-header--nav">
        {% assign navLinks = "Books, Essays & Talks, Links, Contact" | split: ', ' %}
        <a {% if branch == '/' %}class="active"{% endif %} href="/">Bio</a>
        {% for link in navLinks %}
          {% assign leaf = link | slugify %}
          <a {% if branch contains leaf %}class="active"{% endif %} href="/{{ leaf }}">{{ link }}</a>
        {% endfor %}
      </nav>
    </header>
    <main class="page-content">
      {{ content }}
    </main>
    <footer class="page-footer">
      <p>&copy; {{ site.time | date: '%Y' }} Stephanie Mills</p>
      <nav class="page-footer--nav">
        <a {% if branch == '/' %}class="active"{% endif %} href="/">Bio</a>
        {% for link in navLinks %}
          {% assign leaf = link | slugify %}
          <a {% if branch contains leaf %}class="active"{% endif %} href="/{{ leaf }}">{{ link | capitalize }}</a>
        {% endfor %}
      </nav>
    </footer>
  </div>
</body>
</html>
