---
layout: default
---

<article class="crux">
  <div class="crux--text copy{% if page.variant == 'list' %} garland{% endif %}">
    {% if content.size > 1 %}
      {{ content }}
    {% endif %}
    {% if page.variant == 'form' %}
      <form class="form" action="https://formspree.io/stephaniem@centurytel.net"
            method="POST">
        <div class="form--half">
          <label for="name">Your name</label>
          <input type="text" name="name">
        </div>
        <div class="form--half">
          <label for="_replyto">Your email address</label>
          <input type="email" name="_replyto">
        </div>
        <div class="form--full">
          <label for="message">Message</label>
          <textarea name="message"></textarea>
        </div>
        <div class="form--full copy">
          <button class="form--button" value="Send">Submit</button>
        </div>
        <input type="hidden" name="_next" value="/contact/thanks" />
      </form>
    {% endif %}
  </div>
  {% if page.images.size > 0 %}
    <div class="crux--images">
      {% for image in page.images %}
        <img src="{{ site.imagePath }}/{{ image.src }}.jpg" alt="{{ image.alt }}">
      {% endfor %}
    </div>
  {% endif %}
  {% if page.variant == 'post' %}
    <div class="crux--images in-post">
      <img src="{{ site.imagePath }}/books/{{ page.title | slugify }}.jpg" alt="Cover of {{ page.title }}">
      {% if page.isbn %}
        <a href="https://www.brilliant-books.net/book/{{ page.isbn }}/aff/10137" class="crux--button" target="_blank">Buy</a>
        <p class="crux--aside">(Note: the author earns a commission from the purchase of this book)</p>
      {% endif %}
    </div>
  {% endif %}
  {% if page.variant == 'post' %}
    <div class="crux--footer copy">
      <a href="/books">&lsaquo; Back to all books</a>
    </div>
  {% endif %}
</article>
{% if page.variant == 'grid' %}
  <ul class="lectern">
    {% for book in site.categories.books %}
      <li class="lectern--item">
        {% if book.content.size > 1 %}
          <a href="{{ book.url }}">
        {% endif %}
            <img src="{{ site.imagePath }}/books/{{ book.title | slugify }}.jpg" class="lectern--image">
            <h3 class="lectern--heading">{{ book.title }} ({{ book.year }})</h3>
        {% if book.content.size > 1 %}
            <p class="lectern--text">Read a review &rsaquo;</p>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
